---
layout: default
---

<article>
  <header>
    <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title | camel_break }}</a></h1>
    <h2><a href="http://mattt.me/">Mattt Thompson</a> 撰写，
      {% if page.translator %}
        {{ page.translator }}翻译，
      {% endif %}

      发布于<time pubdate="{{ page.date }}">{{ page.date | date:"%Y年%-m月%-d日" }}</time></h2>
  </header>

  <div class="content">
    {{ content }}
  </div>

  <aside>
    <wb:share-button addition="number" type="button" ralateUid="5066373892" picture_search="false"></wb:share-button>
  </aside>
</article>
