---
layout: default
---

<article>
  <header>
    <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title | camel_break }}</a></h1>
    <h2><a href="http://mattt.me/">Mattt Thompson</a> 撰写，
      {% if page.translator %}
        {{ page.translator }}翻译，
      {% endif %}

      发布于<time pubdate="{{ page.date }}">{{ page.date | date:"%Y年%-m月%-d日" }}</time></h2>
  </header>

  <div class="content">
    {{ content }}
  </div>

  <aside>
    <wb:share-button addition="number" type="button" ralateUid="5066373892" picture_search="false"></wb:share-button>
  </aside>

  <footer id="book" class="promotion">
    <a href="https://gum.co/nshipster"><div id="cover"></div></a>
    <div>
      <hgroup>
        <h1><a href="https://gumroad.com/l/nshipster?locale=zh-CN">NSHipster：介绍Cocoa &amp; Objective-C中的晦涩主题</a></h1>
        <h2>现已推出</h2>
      </hgroup>
      <p>这本书将作为现代iOS和Mac OS X开发者的基本指南，涵盖主题包括Objective-C，Foundation，以及UIKit。作为一个NSHipster也就是说要非常在意编写代码的工艺。通过理解和欣赏Objective-C，其框架以及其生态体系，开发者可以创造出让人愉悦并且激励用户的应用。</p>
      <button onclick="javascript:window.location.href='https://gumroad.com/l/nshipster?locale=zh-CN'">Now Available</button>
    </div>
  </footer>
</article>
