---
layout: default
---

<article class="author" itemscope itemtype="http://schema.org/Person">
  <header role="heading">
    {% if page.image %}
      <img class="avatar" alt="{{ page.name }}" itemprop="image" src="{{ page.image }}" draggable="false"/>
    {% else %}
      <img class="avatar" itemprop="image" src="//0.gravatar.com/avatar/{{ page.gravatar }}?size=300" draggable="false"/>
    {% endif %}
    <h1 itemprop="name">{{ page.name }}</h1>

    {{ page.content | markdownify }}
  </header>


  <section class="archive">
    <h1>Articles</h1>

    <ol>
    {% for post in site.posts %}
      {% if post.translator == page.name %}
        <li>
          <a href="{{ post.url }}" title="{{ post.title }}" class="title">{{ post.title }}</a>
          <time datetime="{{ post.date }}" pubdate="{{ post.date }}" itemprop="datePublished">发布于{{ post.date | date:"%Y年%-m月%-d日" }}</time>
          {{ post.excerpt | markdownify }}
        </li>
      {% endif %}
    {% endfor %}
    </ol>
  </section>
</article>

