html body
  padding: 3em 0

div[role="container"]
  +container

  header
    +clearfix

    margin-bottom: 1em

  & > header
    h1
      +column(6)
      +append(1)

    aside
      +column(17)
      padding-top: 2em

    margin-bottom: 3em

  div[role="main"]
    +clearfix

  section
    +clearfix
    clear: both

  article
    +column(16)
    +append(2)
    margin-bottom: 2em

  footer
    clear: both
    border-top: 1px #eee solid
    margin-top: 3em
    padding-top: 3em

    small
      margin-left: 1.6em

    section
      +column(20)

    aside
      +column(4, true)
      float: right
      text-align: right

      a
        font-size: 2em

@media screen and (max-width: 640px)
  html, body
    padding: 10px

  div[role="container"]
    width: 100%

  #logo
    margin: 0 auto
  header, footer, article, aside
    width: 100% !important


  article
    blockquote
      margin-left: 5px !important

    table
      display: inline-block

  aside
    clear: both
    margin: 10px auto

  figure 
    display: none !important
