html body
  font-size: 97%
  +text-shadow(0 1px 1px #eee)

  pre code
    font-size: 83%

  ::selection, ::-moz-selection
    +text-shadow(0 1px 1px #222)
    background: $secondary-color
    color: white
    
header
  h1, span
    margin-top: 0
    padding-top: 0
  h1
    font-weight: 700

  span
    font-size: 1.75em
    display: block

article
  h1
    font-weight: 700
    font-size: 2.5em

  h2, h3
    margin-top: 1.5em

  code
    color: #555

  pre code
    color: #000

  blockquote
    border-left: 4px #eee solid
    padding-left: 1em

  ul
    li
      margin-bottom: 1em

aside
  h1
    font-size: 1.5em

a
  color: $primary-color !important

  &:link
    text-decoration: none

  &:hover
    +text-shadow(none)
    text-decoration: underline
    color: $secondary-color !important

pre code
  +border-radius(5px)
  display: block
  background: #f1f1f1
  white-space: pre-wrap
  padding: +span(1) / 2


table
  border-spacing: 0
  border-collapse: collapse
  margin: 1em 0

  thead th
    background: transparent
    border-bottom: 1px #ccc solid

footer
  aside
    a
      margin-left: 0.25em
      padding: 0.25em
      text-decoration: none

      &:hover, &:active
        +border-radius(5px)
        background: $secondary-color
        color: white

        &:before
          color: white

hr
  border: none
  border-bottom: 1px #eee solid
  margin: 2em 0

figure
  figcaption
    display: none
    