html body
  font-size: 97%

  pre code
    font-size: 83%
    
header
  h1, span
    margin-top: 0
    padding-top: 0
  h1
    font-weight: 700

  span
    font-size: 1.75em
    display: block

article
  h1
    font-weight: 700
    font-size: 2em

  code
    color: #555

  pre code
    color: #000

  blockquote
    border-left: 4px #eee solid
    padding-left: 1em

aside
  h1
    font-size: 1.5em

a
  color: $accent-color !important

  &:link
    text-decoration: none

  &:hover
    text-decoration: underline


pre code
  +border-radius(5px)
  display: block
  background: #f1f1f1
  white-space: pre-wrap
  padding: +span(1) / 2


table
  border-spacing: 0
  border-collapse: collapse
  margin: 1em 0

  thead th
    background: transparent
    border-bottom: 1px #ccc solid