[submodule "_posts"]
	path = _posts
	url = https://github.com/NSHipster/articles
[submodule "nshipster.com/_posts"]
	path = nshipster.com/_posts
	url = git@github.com:NSHipster/articles.git
[submodule "nshipster.cn/_posts"]
	path = nshipster.cn/_posts
	url = git@github.com:NSHipster/articles.git
