[submodule "nshipster.com/_posts"]
	path = nshipster.com/_posts
	url = git@github.com:NSHipster/articles.git
  ignore = all
[submodule "nshipster.cn/_posts"]
	path = nshipster.cn/_posts
	url = git@github.com:NSHipster/articles.git
  ignore = all
[submodule "nshipster.ru/_posts"]
	path = nshipster.ru/_posts
	url = git@github.com:NSHipster/articles.git
