---
layout: default
title: NSHipster
---

<section id="latest">
  <article>
    <header>
      <hgroup>
        <small>This Week...</small>
        <h1><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></h1>
      </hgroup>
    </header>

    {% if site.posts.first.description %}
      <p>{{ site.posts.first.description }}</p>
    {% else %}
      {{ site.posts.first | only_first_p }}
    {% endif %}

    <a class="readmore" href="{{ site.posts.first.url }}">Read more</a>
  </article>

  <figure id="owl">
    <figcaption>Hoot, and hoot again!</figcaption>
  </figure>
</section>

<section id="archive">
  {% for post in site.posts offset:1 %}
  	<article>
      <header>
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      </header>
      {% if post.description %}
        <p>{{ post.description }}</p>
      {% else %}
        {{ post | only_first_p }}
      {% endif %}

      <a class="readmore" href="{{ post.url }}">Read more</a>
    </article>
  {% endfor %}
</section>
