---
title: NSHipster
---

<section id="latest">
  <article>
    <header>
      <small>This Week...</small>
      <h1><a href="{{ site.posts.first.url }}">{{ site.posts.first.title | camel_break }}</a></h1>
    </header>

    {{ site.posts.first.excerpt | markdownify }}

    <a class="readmore" href="{{ site.posts.first.url }}">Continue Reading</a>
  </article>
</section>

<section id="merchandise">
  <h1>Merchandise</h1>

  <a href="http://gumroad.com/nshipster/"><img src="{{ site.asseturl }}/merch.png" alt="NSHipster Merchandise" /></a>
</section>

<section id="recent">
  <h1>Recent Articles</h1>

  {% for post in site.posts offset:1 | limit: 6 %}
    <article class="excerpt">
      <header>
        <h1 class="title"><a href="{{ post.url }}">{{ post.title | camel_break }}</a></h1>
      </header>

      {{ post.excerpt | markdownify }}
    </article>
  {% endfor %}
</section>

<section id="publications">
  <h1>Publications</h1>

  {% include book.html book="nshipster-swift" %}
  {% include book.html book="cfhipsterref" %}
  {% include book.html book="nshipster-fake-book-objective-c" %}
</section>

<section id="popular">
  <h1>Popular Articles</h1>

  {% assign popular = site.tags.popular | shuffle %}
  {% for post in popular | limit: 4 %}
    <article class="excerpt">
      <header>
        <h1 class="title"><a href="{{ post.url }}">{{ post.title | camel_break }}</a></h1>
      </header>

      {{ post.excerpt | markdownify }}
    </article>
  {% endfor %}
</section>

<section id="contributors">
  <h1>Contributors</h1>

  <ul>
  {% for author in site.authors %}
    <li class="author">
      <a href="{{ author.url }}"><img class="avatar" alt="{{ author.name }}" itemprop="image" src="{{ site.asseturl }}/{{ author.image }}" draggable="false"/></a>
      <a href="{{ author.url }}">{{ author.name }}</a>
    </li>
  {% endfor %}
  </ul>
</section>

<section id="archive" class="archive" role="navigation">
  {% for group in site.groups %}
    <dl>
      <dt>{{ group }}</dt>
      {% assign sorted = site.posts | sort: 'title' %}
      {% for post in sorted %}
        {% if post.category == group %}
          <dd><a href="{{ post.url }}">{{ post.title }}</a></dd>
        {% elsif group == 'Miscellanea' %}
          {% unless site.groups contains post.category %}
            <dd><a href="{{ post.url }}">{{ post.title }}</a></dd>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </dl>
  {% endfor %}
</section>
