<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Book",
  "author": "{{ book.author }}",
  "bookFormat": "https://schema.org/EBook",
  "datePublished": "{{ book.date }}",
  "image": "{% asset '{{ book.image }}' @path %}",
  "inLanguage": "English",
  "isbn": "{{ book.isbn }}",
  "name": "{{ book.title }}",
  "description": "{{ book.summary }}",
  "numberOfPages": "{{ book.number_of_pages }}",
  "offers": {
    "@type": "Offer",
    "availability": "https://schema.org/InStock",
    "price": "{{ book.price }}",
    "priceCurrency": "USD",
    "url": "{{ book.book_url }}"
  },
  "publisher": "Read Evaluate Press, LLC"
}
</script>
