<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "NSHipster",
  "legalName": "NSHipster, LLC",
  "url": "https://nshipster.com",
  "logo": "https://nshipster.com/logo.png",
  "foundingDate": "2012",
  "founders": [{
    "@type": "Person",
    "name": "Mattt"
  }],
  "sameAs": [
    "https://twitter.com/nshipster",
    "https://github.com/nshipster",
    "https://plus.google.com/+NSHipster",
    "https://www.facebook.com/NSHipster"
  ]
}
</script>
