{% assign book = site.books | where:"name", include.book | first %}

<div id="{{ book.name }}" class="book" itemscope itemtype="https://schema.org/Product">
    <meta itemprop="name" content="{{ book.title }}"/>
    <meta itemprop="releaseDate" content="{{ book.date | date_to_xmlschema }}"/>
    <meta itemprop="productID" content="isbn:{{ book.isbn }}"/>

    <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
      <link itemprop="availability" href="https://schema.org/InStock"/>
      <meta itemprop="priceCurrency" content="USD"/>
      <meta itemprop="price" content="{{ book.price }}"/>

      <a href="{{ book.book_url }}" title="{{ book.title }}" target="_blank" itemprop="url">
        <img src="{% asset "{{ book.image }}" @path %}" class="cover" alt="{{ book.title }}" itemprop="image"/>
      </a>
    </div>

    {% include json-ld/book.html %}
</div>
