#logo
  padding: 0.5em
  border: 6px $accent-color solid
  display: inline-block !important

header hgroup
  +column(16)
  +append(1)

  h2
    padding: 0 1em
    font-style: italic

figure
  +column(4, true)
  margin-right: -40px
  margin-top: -35px
  font-size: 7.5em
  font-weight: bold
  font-family: menlo, mono-space
  color: $accent-color
  width: 300px

  background: url("/images/moustache.svg") center center no-repeat

  text-align: center

  img
    width: 200px
    height: 180px
    display: inline-block
    display: none

