#logo
  +prevent-selection
  +text-shadow(none)
  font-size: 1em
  margin-left: -10px
  margin-top: -1em

  a
    text-decoration: none !important
    padding: 0
    margin: 0

    &:hover
      background: transparent !important

      #moustache
        +animation(tada 1s)

    &:active
      acronym
        color: $secondary-color

  acronym
    font-size: 10em
    font-weight: 900
    border-bottom: none
    color: $primary-color
    letter-spacing: -0.13em


  strong
    text-indent: -9999px
    color: transparent

  #moustache
    position: absolute
    display: block
    float: left

    width: 200px
    height: 170px
    margin-top: -154px
    +opacity(0.9)
