<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  {% if page.id %}
    <title>{{ page.title }} : {{ site.title }}</title>
  {% else %}
    <title>{{ page.title }}</title>
  {% endif %}
  <meta name="description" content="{{ site.description | strip_html }}"/>
  <meta name="author" content="Mattt Thompson"/>
  <meta name="revisit-after" content="3 days"/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"/>
  <link rel="alternate" hreflang="en-us" href="http://nshipster.com"/>
  <link rel="alternate" hreflang="zh-Hans" href="http://nshipster.cn"/>
  <link rel="alternate" hreflang="x-default" href="http://nshipster.com"/>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml"/>
  <link rel="stylesheet" href="/css/screen.css"/>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@NSHipster">
  <meta name="twitter:creator" content="@mattt">
  {% if page.id %}
    <meta name="twitter:title" content="{{ page.title }}">
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description | strip_html | escape }}">
    {% else %}
      <meta name="twitter:description" content="{{ page.content | truncate: 250 | strip_html | escape }}">
    {% endif %}
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description | strip_html | escape}}">
  {% endif %}

  <meta content="{{ site.title }}" property="og:site_name"/>
  {% if page.id %}
    <meta content="{{ page.title }}" property="og:title"/>
    <meta content="{{ site.url }}{{ page.url }}" property="og:url"/>
    {% if page.description %}
      <meta content="{{ page.description | strip_html | escape }}" property="og:description"/>
    {% else %}
      <meta content="{{ page.content | truncate: 250 | strip_html | escape }}" property="og:description"/>
    {% endif %}
  {% else %}
    <meta content="{{ site.title }}" property="og:title"/>
    <meta content="{{ site.url }}" property="og:url"/>
    <meta content="{{ site.description | strip_html | escape}}" property="og:description"/>
  {% endif %}

  {% if page.id %}
    <meta property="st:title" content="{{ page.title }}"/>
    <meta property="st:type" content="article"/>
  {% else %}
    <meta property="st:type" content="home"/>
  {% endif %}

  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <script onload="try{Typekit.load();}catch(e){}" src="//use.typekit.net/agk0bgp.js"></script>
</head>

<body>
  <div role="container">
    <header role="banner">
      <h1 id="logo">
        <a href="/">
          <acronym title="NeXTSTEP/Sun">NS</acronym>
          <strong>Hipster</strong>
          <img id="moustache" src="//cdn.nshipster.com/images/moustache.svg" width="200" height="150" data-author="http://thenounproject.com/bnhw" />
        </a>
      </h1>

      <form>
        <input type="text" id="st-search-input" class="st-search-input" />
      </form>

      {% unless page.id %}
        <h2>
          {{ site.description }}
        </h2>
      {% endunless %}

    </header>

    <div id="main" role="main">
      {{ content }}
    </div>

    <footer role="contentinfo">
      <section class="credits colophon">
        <p>
          <span aria-hidden="true" class="icon-creative-commons"></span>

          Created by <a href="http://mattt.me">Mattt Thompson</a>, and released under a <a href="http://creativecommons.org/licenses/by-nc/3.0/" rel="license">Creative Commons BY-NC License</a>.

          <a href="https://plus.google.com/106751358503565042647?rel=author" style="display: none;"/>
        </p>
      </section>

      <aside class="links">
        <a href="https://github.com/NSHipster/articles/issues" class="icon-github" title="Pull Requests Welcome" aria-hidden="true"></a>
        <a href="/feed.xml" class="icon-feed" title="RSS" aria-hidden="true"></a>
      </aside>

      {% if page.id %}
        <section class="archive" role="navigation">
          {% for group in site.groups %}
            <div>
              <h2>{{ group }}</h2>
              <ul>
                {% for post in site.posts | sort_by_title %}
                  {% if post.framework == group %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% elsif group == 'Miscellanea' %}
                    {% unless site.groups contains post.framework %}
                      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endunless %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </section>
      {% endif %}
    </footer>
  </div>

  <script type="text/javascript">
    var Swiftype = window.Swiftype || {};
    (function() {
      Swiftype.key = 'Q5jNBiR8qVs5xE5dNect';
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      script.src = "//swiftype.com/embed.js";
      var entry = document.getElementsByTagName('script')[0];
      document.getElementsByTagName('script')[0].parentNode.insertBefore(script, entry);
    }());
  </script>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '510be6d4108d7b438800005f');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
