<!doctype html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  {% if page.id %}
    <title>{{ page.title | replace:'<br/>',' ' | strip_html }} - {{ site.title }}</title>
    <meta name="description" content="{{ page.excerpt | strip_html }}"/>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
  {% else %}
    <title>{{ page.title | strip_html }}</title>
    <meta name="description" content="{{ site.description | strip_html }}"/>
    <link rel="canonical" href="{{ site.url }}"/>
    <link rel="alternate" hreflang="en-us" href="http://nshipster.com/"/>
    <link rel="alternate" hreflang="zh-Hans" href="http://nshipster.cn/"/>
    <link rel="alternate" hreflang="x-default" href="http://nshipster.com/"/>
  {% endif %}
  <meta name="author" content="Mattt Thompson"/>
  <meta name="revisit-after" content="7 days"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"/>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml"/>
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/screen.css"/>
  <link rel="apple-touch-icon" href="/touch-icon-iphone.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png"/>
  <link rel="icon" sizes="16x16 24x24 32x32 48x48 64x64" type="image/vnd.microsoft.icon" href="/favicon.ico"/>
  <link rel="author" type="text/plain" href="{{ site.url }}/humans.txt"/>

  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@NSHipster"/>
  <meta name="twitter:creator" content="@mattt"/>
  {% if page.id %}
    <meta name="twitter:title" content="{{ page.title }}"/>
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | escape }}"/>
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}"/>
    <meta name="twitter:description" content="{{ site.description | strip_html | escape}}"/>
  {% endif %}
  <meta property="twitter:account_id" content="{{ site.twitter }}"/>

  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:image" content="{{ site.url }}/touch-icon-ipad-retina.png"/>
  {% if page.id %}
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:description" content="{{ page.excerpt | strip_html | escape }}"/>
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}"/>
    <meta property="article:modified_time" content="{{ site.time | date_to_xmlschema }}"/>
    <meta property="article:tag" content="{{ page.categories | join: ',' }}"/>
    <meta property="article:publisher" content="https://www.facebook.com/NSHipster">
  {% else %}
    <meta property="og:title" content="{{ site.title }}"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:description" content="{{ site.description | strip_html | escape}}" />
  {% endif %}

  {% if page.id %}
    <meta property="st:title" content="{{ page.title }}"/>
    <meta property="st:type" content="article"/>
  {% else %}
    <meta property="st:type" content="home"/>
  {% endif %}
</head>

<body itemscope itemtype="http://schema.org/WebPage">

  <script src="{{ site.url }}/js/zepto.min.js"></script>
  <script src="{{ site.url }}/js/application.js"></script>

  <div role="container">
    <header role="banner">
      <h1 id="logo">
        <a href="/">
          {% include ns.svg %}
          {% include mustache.svg %}
        </a>

        <span hidden style="display:none;">NSHipster</span>
      </h1>

      <form role="search">
        <input type="text" id="st-search-input" class="st-search-input" />
      </form>

      {% if page.title == "NSHipster" %}
        <h2 class="tagline">{{ site.description }}</h2>
      {% endif %}
    </header>

    <div id="main" role="main" itemprop="mainContentOfPage">
      {{ content }}
    </div>

    <footer role="contentinfo">
      <section class="credits colophon">
        <p>
          <i aria-hidden="true" class="icon-cc"></i>
          <i aria-hidden="true" class="icon-cc-by"></i>
          <i aria-hidden="true" class="icon-cc-nc"></i>
          NSHipster.com is released under a <a href="http://creativecommons.org/licenses/by-nc/4.0/" rel="license">Creative Commons BY-NC License</a>.
        </p>
        <p><abbr title="International Standard Serial Number">ISSN</abbr> 2373-9800</p>
        <p lang="zh-Hans"><a href="http://nshipster.cn" hreflang="zh-Hans" title="Articles also available in Chinese">文章也可在中文版阅读</a>。</p>
        <a href="https://plus.google.com/{{ site.google }}" rel="publisher"></a>
      </section>
    </footer>
  </div>

  <script>
    if (window.navigator && window.navigator.loadPurpose === "preview") {
      window.location.href = "{{ site.url }}/topsites_preview.html";
    }
  </script>

  <script async>
    var Swiftype = window.Swiftype || {};
    (function() {
      Swiftype.key = 'Q5jNBiR8qVs5xE5dNect';
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      script.src = "//swiftype.com/embed.js";
      var entry = document.getElementsByTagName('script')[0];
      document.getElementsByTagName('script')[0].parentNode.insertBefore(script, entry);
    }());
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49868484-1', 'nshipster.com');
    ga('send', 'pageview');
  </script>

</body>
</html>
