---
layout: default
---

<article>
  <header>
    <h1><a href="{{ page.url }}">{{ page.title | camel_break }}</a></h1>
    <h2> Written by <a href="http://mattt.me/">Mattt Thompson</a> on <time pubdate="{{ page.date }}">{{ page.date | ordinalize }}</time></h2>
  </header>

  <div class="content" data-swiftype-index="true">
    {{ content }}
  </div>

  <aside>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url}}{{ page.url }}" data-via="NSHipster" data-size="large">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </aside>

  <footer id="book" class="promotion">
    <a href="https://gum.co/cfhipsterref"><div id="cfhipsterref-cover"></div></a>
    <div>
      <hgroup>
        <h1><a href="https://gum.co/cfhipsterref">CFHipsterRef: Low-Level Programming on<br/>iOS &amp; Mac OS X</a></h1>
        <h2>Available May 27th, 2014</h2>
      </hgroup>
      <p>Perfect for intermediate and expert developers wanting to take a deeper dive into advanced topics, <em>CFHipsterRef: Low-Level Programming on iOS &amp; Mac OS X</em> covers the core technologies powering Cocoa, Objective-C, and the operating system itself, including Core Bluetooth, Accelerate, and the Objective-C runtime.</p>
      <button onclick="javascript:window.location.href='https://gum.co/cfhipsterref'">Pre-Order Now</button>
    </div>
  </footer>
</article>
