---
layout: default
---

{% assign author = site.data.authors.mattt %}

<article role="article">
  <header role="heading">
    <h1 class="title"><a href="{{ page.url }}">{{ page.title | camel_break }}</a></h1>
    <h2>
      Written by <a class="author" href="{{ author.url }}">{{ author.name }}</a> on <time datetime="{{ page.date }}" pubdate="{{ page.date }}">{{ page.date | ordinalize }}</time></h2>
  </header>

  <div class="content" data-swiftype-index="true">
    {{ content }}
  </div>

  <footer>
    <section id="sharing">
      <ul>
        <li class="twitter">
          <a href="https://twitter.com/intent/tweet?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&text={{ page.title | cgi_escape }}&via=NSHipster&related=mattt,nshipster"><i class="icon-twitter"></i></a>
        </li>
        <li class="facebook">
          <a href="http://www.facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}"><i class="icon-facebook"></i></a>
        </li>
        <li class="google-plus">
          <a href="https://plus.google.com/share?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}"><i class="icon-googleplus"></i></a>
        </li>
        <li class="email">
          <a href="mailto:?Subject={{ page.title | cgi_escape }}&Body=%20{{ site.url | cgi_escape }}{{ page.url | cgi_escape }}"><i class="icon-mail"></i></a>
        </li>
    </section>

    <section id="attribution">
      {% include contributor.html role="author" %}
      {% if page.translator %}
        {% include contributor.html role="translator" %}
      {% endif %}
    </section>

    <nav role="navigation">
      <div id="continue">
        <small>Next Article</small>

        {% assign next = page.next %}
        {% if next == nil %}
        {% assign next = site.posts.last %}
        {% endif %}

          <article>
            <h1 class="title">
              <a href="{{ next.url }}" title="{{ next.title }}" rel="next">{{ next.title }}</a>
            </h1>

            {{ next.excerpt | markdownify }}
          </article>
      </div>


      {% assign related = site.related_articles %}
      {% if page.category %}
        {% assign category = page.category | downcase %}
        {% assign related = site.categories[category] %}
      {% endif %}

      {% if related.length != 1 %}

      <div id="related">
        <small>Related Articles</small>

        <ul>


          {% assign related = related | shuffle %}
          {% for post in related limit: 4 %}
          {% if page.url != post.url %}
            <li>
              <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      {% endif %}
    </nav>

    <p>{{ site.description }}</p>
  </footer>
</article>
