{% case include.role %}
{% when 'author' %}
  {% assign contributor = site.data.authors["Mattt Thompson"] %}
{% when 'translator' %}
  {% assign contributor = site.data.translators[page.translator] %}
{% endcase %}

<div class="contributor" itemprop="author" itemscope itemtype="http://data-vocabulary.org/Person">
  {% case include.role %}
  {% when 'author' %}
    <small>作者</small>
  {% when 'translator' %}
    <small>翻译者</small>
  {% endcase %}

  <img class="avatar" itemprop="image" src="//0.gravatar.com/avatar/{{ contributor.gravatar }}?size=300" draggable="false"/>
  <div class="details">
    <span itemprop="name">{{ contributor.name }}</span>

    {{ contributor.bio | markdownify }}

    {% if contributor.google %}
      <a href="https://plus.google.com/{{ contributor.google }}?rel=author" rel="author"></a>
    {% endif %}
  </div>
</div>
