{% case include.role %}
{% when 'author' %}
  {% assign contributor = site.authors     | where:"name",page.author     | first %}
{% when 'translator' %}
  {% if site.translators | where:"name",page.translator | first %}
    {% assign contributor = site.translators | where:"name",page.translator | first %}
  {% endif %}
{% endcase %}

<div class="contributor" itemprop="author" itemscope itemtype="http://data-vocabulary.org/Person">
  {% case include.role %}
  {% when 'author' %}
    <small>作者</small>
  {% when 'translator' %}
    <small>翻译者</small>
  {% endcase %}

  {% if contributor %}
    {% if contributor.image %}
      <img class="avatar" alt="{{ contributor.name }}" itemprop="image" src="{{ site.asseturl }}/{{ contributor.image }}" draggable="false"/>
    {% else %}
      <img class="avatar" itemprop="image" src="//0.gravatar.com/avatar/{{ contributor.gravatar }}?size=300" draggable="false"/>
    {% endif %}
    <div class="details">
      <span itemprop="name"><a href="{{ contributor.url }}">{{ contributor.name }}</a></span>
   
      {{ contributor.content | markdownify }}

      {% if contributor.google %}
        <a href="https://plus.google.com/{{ contributor.google }}?rel=author" rel="author"></a>
      {% endif %}
    </div>
  {% else %}
  <div class="details">
    <img class="avatar" itemprop="image" src="//0.gravatar.com/avatar/?size=300" draggable="false"/>
    <span itemprop="name">{{ page.translator }}</span>
  </div>
  {% endif %}
</div>
