---
layout: default
title: NSHipster 中文版
---

<section id="latest">
  <article>
    <header>
      <hgroup>
        <small>本周发布</small>
        <h1><a href="{{ site.url }}{{ site.posts.first.url }}">{{ site.posts.first.title | camel_break }}</a></h1>
      </hgroup>
    </header>

    {% if site.posts.first.description %}
      <p>{{ site.posts.first.description }}</p>
    {% else %}
      {{ site.posts.first | only_first_p }}
    {% endif %}

    <a class="readmore" href="{{ site.url }}{{ site.posts.first.url }}">{{ site.read_more }}</a>
  </article>
</section>

<section id="archive">
  {% for post in site.posts offset:1 %}
    <article>
      <header>
        <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title | camel_break }}</a></h1>
      </header>
      {% if post.description %}
        <p>{{ post.description }}</p>
      {% else %}
        {{ post | only_first_p }}
      {% endif %}

      <a class="readmore" href="{{ site.url }}{{ post.url }}">{{ site.read_more }}</a>
    </article>
  {% endfor %}
</section>
