---
layout: default
title: NSHipster 中文版
---

<section id="latest">
  <article>
    <header>
      <small>本周发布</small>
      <h1><a href="{{ site.posts.first.url }}">{{ site.posts.first.title | camel_break }}</a></h1>
    </header>

    {{ site.posts.first.excerpt | markdownify }}
</section>

<section id="recent">
  <h1>最近的文章</h1>

  {% for post in site.posts offset:1 | limit: 6 %}
    <article class="excerpt">
      <header>
        <h1 class="title"><a href="{{ post.url }}">{{ post.title | camel_break }}</a></h1>
      </header>

      {{ post.excerpt | markdownify }}
    </article>
  {% endfor %}
</section>

<section id="publications">
  <h1>书籍</h1>
  {% for book in site.data.books %}
    {% assign identifier = book[0] %}
    {% assign content = book[1] %}
    <article id="{{ identifier }}" class="book" itemscope itemtype="http://schema.org/Product">
      <div itemscope itemtype="http://schema.org/Book">
        <link itemprop="bookFormat" href="http://schema.org/EBook"/>
        <a href="{{ content.url }}" title="{{ content.title }}">
          <img src="{{ content.image }}" class="cover" alt="{{ content.title }}" itemprop="image"/>
        </a>
        <span itemprop="name" style="display:none;">{{ content.title }}</span>
        <span itemprop="author" style="display:none;">{{ content.author }}</span>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" style="display:none;">
          <link itemprop="availability" href="http://schema.org/InStock"/>
          <meta itemprop="priceCurrency" content="USD"/>
          <span itemprop="price">{{ content.price }}</span>
        </div>
      </div>
    </article>
  {% endfor %}
</section>

<section id="popular">
  <h1>热门文章</h1>

  {% assign popular = site.tags.popular | shuffle %}
  {% for post in popular | limit: 4 %}
    <article class="excerpt">
      <header>
        <h1 class="title"><a href="{{ post.url }}">{{ post.title | camel_break }}</a></h1>
      </header>

      {{ post.excerpt | markdownify }}
    </article>
  {% endfor %}
</section>

<section class="archive" id="archive" role="navigation">
  {% for group in site.groups %}
    <dl>
      <dt>{{ group }}</dt>
      {% assign sorted = site.posts | sort: 'title' %}
      {% for post in sorted %}
        {% if post.category == group %}
          <dd><a href="{{ post.url }}">{{ post.title }}</a></dd>
        {% elsif group == 'Miscellanea' %}
          {% unless site.groups contains post.category %}
            <dd><a href="{{ post.url }}">{{ post.title }}</a></dd>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </dl>
  {% endfor %}
</section>
