<!doctype html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  {% if page.id %}
    <title>{{ page.title | replace:'<br/>',' ' | strip_html }} - {{ site.title }}</title>
    <meta name="description" content="{{ page.excerpt | strip_html }}"/>
    <link rel="canonical" href="{{ page.url | absolute_url }}"/>
  {% else %}
    <title>{{ page.title | strip_html }}</title>
    <meta name="description" content="{{ site.description | strip_html }}"/>
    <link rel="canonical" href="{{ site.url }}"/>
  {% endif %}

  {% if page.url == '/' %}
    <link rel="alternate" hreflang="en-us" href="https://nshipster.com/"/>
    <link rel="alternate" hreflang="zh-Hans" href="https://nshipster.cn/"/>
    <link rel="alternate" hreflang="x-default" href="https://nshipster.com/"/>
  {% endif %}

  {% assign author     = site.authors     | where:"name",page.author     | first %}
  {% if author %}
  <meta name="author" content="{{ author.name }}"/>
  {% endif %}
  <meta name="revisit-after" content="7 days"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <meta name="format-detection" content="telephone=no"/>
  <link rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/"/>

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml"/>
  <link rel="alternate" type="application/json" title="{{ site.title }}"  href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" />

  {% comment %} <link rel="preload" as="font" href="{% asset nshipster.woff2 @path %}" type="font/woff2" crossorigin="anonymous" /> {% endcomment %}
  <link rel="preload" as="font" href="{% asset nshipster.woff @path %}" type="font/woff" crossorigin="anonymous" />

  {% asset "screen.css" @inline %}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
  <link rel="manifest" href="/site.webmanifest"/>
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#292724"/>
  <meta name="apple-mobile-web-app-title" content="NSHipster"/>
  <meta name="application-name" content="NSHipster"/>
  <meta name="msapplication-TileColor" content="#f8f7f5"/>
  <meta name="theme-color" content="#f8f7f5"/>

  <link rel="author" type="text/plain" href="/humans.txt"/>

  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@NSHipster"/>
  {% if author %}
  <meta name="twitter:creator" content="@{{ author.twitter }}"/>
  {% endif %}
  {% if page.id %}
    <meta name="twitter:title" content="{{ page.title }}"/>
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | escape }}"/>
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}"/>
    <meta name="twitter:description" content="{{ site.description | strip_html | escape}}"/>
  {% endif %}
  <meta property="twitter:account_id" content="{{ site.twitter }}"/>

  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:image" content="{{ site.url }}/logo.png"/>
  {% if page.id %}
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:description" content="{{ page.excerpt | strip_html | escape }}"/>
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}"/>
    <meta property="article:modified_time" content="{{ site.time | date_to_xmlschema }}"/>
    <meta property="article:tag" content="{{ page.categories | join: ',' }}"/>
    <meta property="article:publisher" content="https://www.facebook.com/NSHipster">
  {% else %}
    <meta property="og:title" content="{{ site.title }}"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:description" content="{{ site.description | strip_html | escape}}" />
  {% endif %}

  <meta property="nshipster:hide-single-lang" content="{{ page.hiddenlang }}"/>
</head>

<body>

  <div class="container">
    <header role="banner">
      <h1 id="logo">
        <a href="/" title="NSHipster">
          {% asset logo.svg @inline %}
        </a>
      </h1>

      {% if page.url == "/" %}
        <h2 class="tagline">{{ site.description }}</h2>
      {% endif %}
    </header>

    <main>
      {{ content }}
    </main>

    <footer role="contentinfo">
      <section class="credits colophon">
        <p>
          Questions? Corrections? <a href="https://twitter.com/NSHipster">@NSHipster</a> or <a href="https://github.com/NSHipster/articles">on GitHub</a>.
        </p>
        <p>
          <i aria-hidden="true" class="icon-cc"></i>
          <i aria-hidden="true" class="icon-cc-by"></i>
          <i aria-hidden="true" class="icon-cc-nc"></i>
          NSHipster.com is released under a <a href="https://creativecommons.org/licenses/by-nc/4.0/" rel="license">Creative Commons BY-NC License</a>.
        </p>
        <p><abbr title="International Standard Serial Number">ISSN</abbr> {{ site.issn }}</p>
        <p lang="zh-Hans"><a href="https://nshipster.cn" hreflang="zh-Hans" title="Articles also available in Chinese">文章也可在中文版阅读</a>。</p>
        <a href="https://plus.google.com/{{ site.google }}" rel="publisher" hidden aria-hidden="true"></a>
      </section>
    </footer>
  </div>

  {% asset application.js async='async' %}

  {% include json-ld/organization.html %}
  {% include json-ld/website.html %}
</body>
</html>
