<!doctype html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  {% if page.id %}
    <title>{{ page.title }} : {{ site.title }}</title>
  {% else %}
    <title>{{ page.title }}</title>
  {% endif %}
  <meta name="description" content="{{ site.description | strip_html }}"/>
  <meta name="author" content="Mattt Thompson"/>
  <meta name="revisit-after" content="3 days"/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"/>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://nshipster.com/feed.xml"/>
  <link rel="stylesheet" href="/css/screen.css"/>

  {% include twitter-card %}
  {% include facebook-open-graph %}
  {% include typekit %}
</head>

<body>
  <div role="container">
    <header role="banner">
      <h1 id="logo">
        <a href="/">
          <acronym title="NeXTSTEP/Sun">NS</acronym>
          <strong>Hipster</strong>
          <img id="moustache" src="/images/moustache.svg" width="200" height="150" data-author="http://thenounproject.com/bnhw" />
        </a>
      </h1>

      {% unless page.id %}
        <h2>
          {{ site.description }}
        </h2>
      {% endunless %}
    </header>

    <div id="main" role="main">
      {{ content }}
    </div>

    <footer role="contentinfo">
      <section class="credits colophon">
        <p>
          <span aria-hidden="true" class="icon-creative-commons"></span>

          Created by <a href="http://mattt.me">Mattt Thompson</a>, and released under a <a href="http://creativecommons.org/licenses/by-nc/3.0/" rel="license">Creative Commons BY-NC License</a>.

          <a href="https://plus.google.com/106751358503565042647?rel=author" style="display: none;"/>
        </p>
      </section>

      <aside class="links">
        <a href="http://nshipster.com/feed.xml" class="icon-feed" title="RSS" aria-hidden="true"></a>
      </aside>

      {% if page.id %}
        {% include archive %}
      {% endif %}
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.fittext.js"></script>
  <script>
    if ((navigator.platform.indexOf("iPhone") != -1) || (navigator.platform.indexOf("iPod") != -1)) {
      $("article h1").fitText();
    }
  </script>

  {% include gauges %}
</body>
</html>