<!doctype html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  {% if page.id %}
  <title>{{ page.title }} : {{ site.title }}</title>
  {% else %}
  <title>{{ page.title }}</title>
  {% endif %}
  <meta name="description" content="{{ site.description | strip_html }}"/>
  <meta name="viewport" content="width=device-width; initial-scale=1.0"/>
  <meta name="author" content="Mattt Thompson"/>
  <meta name="revisit-after" content="3 days"/>
  <link rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"/>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://nshipster.com/feed.xml"/>
  <link rel="stylesheet" href="/css/screen.css"/>

  <meta content="{{ site.title }}" property="og:site_name"/>
  <meta content="{{ site.url }}/images/suit.png" property="og:image"/>
  {% if page.id %}
    <meta content="{{ page.title }}" property="og:title"/>
    <meta content="{{ site.url }}{{ page.url }}" property="og:url"/>
    {% if page.description %}
      <meta content="{{ page.description | strip_html | escape }}" property="og:description"/>
    {% else %}
      <meta content="{{ page.content | truncate: 250 | strip_html | escape }}" property="og:description"/>
    {% endif %}
  {% else %}
    <meta content="{{ site.title }}" property="og:title"/>
    <meta content="{{ site.url }}" property="og:url"/>
    <meta content="{{ site.description | strip_html | escape}}" property="og:description"/>
  {% endif %}

  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <script type="text/javascript" src="//use.typekit.net/nlj2rqt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
  <div role="container">
    <header>
      <h1 id="logo">
        <a href="/">
          <acronym title="NeXT Step">NS</acronym>
          <strong>Hipster</strong>
          <img id="moustache" src="/images/moustache.svg"/>
        </a>
      </h1>

      {% unless page.id %}
        <aside>
          <span>{{ site.description }}</span>
        </aside>
      {% endunless %}

    </header>

    <div id="main" role="main">
      {{ content }}
    </div>

    <footer>
      <section class="credits colophon">
        <p>
          <span aria-hidden="true" class="icon-creative-commons"></span>
          
          Created by <a href="http://mattt.me">Mattt Thompson</a>, and released under a <a href="http://creativecommons.org/licenses/by-nc/3.0/" rel="license">Creative Commons BY-NC License</a>.
          
          <br/>
          
          <small>
            Delightful illustrations by <a href="http://www.conorheelan.com">Conor Heelan</a>.

            Moustache courtesy of <a href="http://thenounproject.com/noun/mustache/#icon-No1642">The Noun Project</a>. 

            Icons by <a href="http://keyamoon.com/icomoon/">IcoMoon</a>.
          </small>
        </p>
      </section>

      <aside class="links">
        <a href="https://twitter.com/nshipster" class="icon-twitter" title="Twitter" aria-hidden="true" ></a>
        <a href="http://nshipster.com/feed.xml" class="icon-feed" title="RSS" aria-hidden="true"></a>
      </aside>
    </footer>
  </div>
  <script type="text/javascript">
var _sf_async_config={uid:43692,domain:"nshipster.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();
</script>
</body>
</html>