---
layout: default
---

<article>
  <header>
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
  </header>

  {{ content }}
</article>

<aside>
  <p>{{ site.description }}</p>

  <figure id="suit">
    <figcaption>Though bearing a striking resemblence to Sam Soffes, our lawyers can assure you that resemblance to real persons, living, dead, and/or mustacioed, is purely coincidental.</figcaption>
  </figure>


  <section class="archive">
    <h1>Archive</h1>
    <ul>
      {% for post in site.posts %}
        {% if post.id != page.id %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</aside>