---
layout: default
---

<article>
  <header>
    <h1><a href="{{ page.url }}">{{ page.title | camel_break }}</a></h1>
    <h2> Written by <a href="http://mattt.me/">Mattt Thompson</a> on <time pubdate="{{ page.date }}">{{ page.date | ordinalize }}</time></h2>
  </header>

  <div class="content">
    {{ content }}
  </div>

  <aside>
    {% include twitter-share %}
  </aside>

  <footer id="book" class="promotion">
    <a href="https://gum.co/nshipster"><img id="cover" src="/images/book-cover.png"/></a>
    <div>
      <hgroup>
        <h1><a href="https://gum.co/nshipster">NSHipster: Obscure Topics in Cocoa &amp; Objective-C</a></h1>
        <h2>Now Available</h2>
      </hgroup>
      <p>Combining articles from NSHipster.com with new essays, this book is the essential guide for modern iOS and Mac OS X developers.</p>
      <button onclick="javascript:window.location.href='https://gum.co/nshipster'">Now Available Now</button>
    </div>
  </footer>
</article>
