---
layout: default
title: NSHipster
---

{% contentfor header %}
<h2>{{ site.description }}</h2>
{% endcontentfor %}

<section id="latest">
  <article>
    <header>
      <hgroup>
        <small>This Week...</small>
        <h1><a href="{{ site.posts.first.url }}">{{ site.posts.first.title | camel_break }}</a></h1>
      </hgroup>
    </header>

    {% if site.posts.first.description %}
      <p>{{ site.posts.first.description }}</p>
    {% else %}
      {{ site.posts.first | only_first_p }}
    {% endif %}

    <a class="readmore" href="{{ site.posts.first.url }}">Read more</a>
  </article>
</section>

<section id="recent">
  <h1>Recent Articles</h1>

  {% for post in site.posts offset:1 | limit: 6 %}
  	<article>
      <header>
        <h1 class="title"><a href="{{ post.url }}">{{ post.title | camel_break }}</a></h1>
      </header>
      {% if post.description %}
        <p>{{ post.description }}</p>
      {% else %}
        {{ post | only_first_p }}
      {% endif %}
    </article>
  {% endfor %}

  <a href="">Browse All Past Articles</a>
</section>

<section id="publications">
  <h1>Publications</h1>
  <div>
  <img src="//cdn.nshipster.com/images/the-nshipster-fake-book-cover@2x.png" width="200"/>
  <img src="//cdn.nshipster.com/images/book-cover@2x.png" width="200"/>
  <img src="//cdn.nshipster.com/images/cfhipsterref-cover@2x.png" width="200"/>
  </div>
</section>

<section id="popular">
  <h1>Popular Articles</h1>

  {% for post in site.tags.popular | shuffle | limit: 2 %}
  	<article>
      <header>
        <h1 class="title"><a href="{{ post.url }}">{{ post.title | camel_break }}</a></h1>
      </header>
      {% if post.description %}
        <p>{{ post.description }}</p>
      {% else %}
        {{ post | only_first_p }}
      {% endif %}

      <a class="readmore" href="{{ post.url }}">Read more</a>
    </article>
  {% endfor %}
</section>

<section class="archive" role="navigation">
  <h1>Archive</h1>
  {% for group in site.groups %}
    <div>
      <h2>{{ group }}</h2>
      <ul>
        {% for post in site.posts | sort_by_title %}
          {% if post.category == group %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% elsif group == 'Miscellanea' %}
            {% unless site.groups contains post.category %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endunless %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</section>
